modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CONTACT_EMAIL = "hello@corp.dejoiy.com"
VERIFICATION_TO_EMAIL = "employment.verification@corp.dejoiy.com"
FROM_EMAIL = "onboarding@resend.dev"
